/x64/
/WhacAMole/x64/
/bin/
/Debug
/Release

.gitignore
*.zip
*.rar
*.via
*.tmp
*.err
*.pdb
*.o
*.so
*.dll
*.lib
*.log
*.txt
*.plg
*.xls
*.exe
*.keep
*.dbg
*.lnt
*.pm
*.ncb
*.plg
*.opt
*.aps

!*.cpp
!*.h
!*.c

